.page-header
	h3 {{header}} - {{Form.nome}}

.panel.panel-primary
	.panel-heading
		.panel-title Formulário
	.panel-body.clearfix
		.btn-group.pull-right
			button.btn.btn-primary(ng-disabled="UsuarioForm.$invalid",type="submit",form="UsuarioForm") Salvar
			button.btn.btn-default(ng-click="cancel()",type="button") Cancelar
	.panel-body
		form.form(id="UsuarioForm",name="UsuarioForm",ng-submit="save()",novalidate)
			.row
				.col-md-6
					.form-group(ng-class="{'has-error':UsuarioForm.nome.$invalid && UsuarioForm.nome.$dirty}")
						i.pull-right.text-danger.fa.fa-asterisk(ng-if="UsuarioForm.nome.$invalid",tooltip="Campo requerido")
						i.pull-right.text-success.fa.fa-check(ng-if="!UsuarioForm.nome.$invalid",tooltip="Campo requerido")
						label.control-label Nome
						input.form-control(ng-minlength="5", required="true", name="nome",ng-model="Form.nome",placeholder="Nome da Usuário")
						span(class="help-block",ng-if="UsuarioForm.nome.$error.minlength") Mais de 5 caracteres
				.col-md-6
					.form-group(ng-class="{'has-error':UsuarioForm.grupo_id.$invalid}")
						i.pull-right.text-danger.fa.fa-asterisk(ng-if="UsuarioForm.grupo_id.$invalid",tooltip="Campo requerido")
						i.pull-right.text-success.fa.fa-check(ng-if="!UsuarioForm.grupo_id.$invalid",tooltip="Campo requerido")
						label.control-label Grupo
						select.form-control(required="true", name="grupo_id",ng-model="Form.grupo_id",ng-options="item.Grupo.id as item.Grupo.nome for item in Grupos")
							option(value="") Selecione um Grupo
			.row
				.col-md-4
					.form-group(ng-class="{'has-error':UsuarioForm.email.$invalid}")
						label.control-label Email
						input.form-control(type="email", name="email",ng-model="Form.email",placeholder="Email do Usuário")
						span(class="help-block",ng-if="UsuarioForm.email.$error.email") Email inválido
				.col-md-4
					.form-group(ng-class="{'has-error':UsuarioForm.username.$invalid && UsuarioForm.username.$dirty}")
						i.pull-right.text-danger.fa.fa-asterisk(ng-if="UsuarioForm.username.$invalid",tooltip="Campo requerido")
						i.pull-right.text-success.fa.fa-check(ng-if="!UsuarioForm.username.$invalid",tooltip="Campo requerido")
						label.control-label Login
						input.form-control(ng-minlength="5", required="true", name="username",ng-model="Form.username",placeholder="Login do Usuário")
						span(class="help-block",ng-if="UsuarioForm.username.$error.minlength") Mais de 5 caracteres
				.col-md-4
					.form-group(ng-class="{'has-error':UsuarioForm.senha.$invalid && UsuarioForm.senha.$dirty}")
						i.pull-right.text-danger.fa.fa-asterisk(ng-if="UsuarioForm.senha.$invalid",tooltip="Campo requerido")
						i.pull-right.text-success.fa.fa-check(ng-if="!UsuarioForm.senha.$invalid",tooltip="Campo requerido")
						label.control-label Senha
						input.form-control(ng-minlength="5", name="senha",ng-model="Form.senha",placeholder="Senha do Usuário")
						span(type="password",class="help-block",ng-if="UsuarioForm.senha.$error.minlength") Mais de 5 caracteres
			.row
				.col-md-4
					input(bs-switch,ng-model="Form.is_active",type="checkbox",switch-label="Ativo?",switch-on-text="Sim",switch-off-text="Não")
				.col-md-4
					input(bs-switch,ng-model="Form.is_staff",type="checkbox",switch-label="Equipe?",switch-on-text="Sim",switch-off-text="Não")
				.col-md-4
					input(bs-switch,ng-model="Form.is_superuser",type="checkbox",switch-label="Admin?",switch-on-text="Sim",switch-off-text="Não")


	.panel-footer.clearfix
		.btn-group.pull-right
			button.btn.btn-primary(ng-disabled="UsuarioForm.$invalid",type="submit",form="UsuarioForm") Salvar
			button.btn.btn-default(ng-click="cancel()",type="button") Cancelar
