.row
	.col-md-7
		div(ng-include="'/admin/app/common/pagination.html'")
	.col-md-5
		.input-group(style="margin: 20px 0")
			input.form-control(name="pesquisaSacado",ng-model="Pesquisa.nome",placeholder="Pesquise pelo Nome")
			span.input-group-btn
				button.btn.btn-default(ng-click="pesqUsuario()", ng-disabled="Pesquisa.nome.length < 3", type="button") Pesquisar Usuários
				button.btn.btn-default(ng-click="Pesquisa.nome='';pesqUsuario()", type="button") Zerar Pesquisa

.panel.panel-primary
	.panel-heading.clearfix
		h3.panel-title Usuários
			span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
	.panel-body.clearfix.bg-info
		.btn-group.pull-right
			a.btn.btn-primary(ng-click="add()") Novo
	.panel-body(ng-if="loading")
		div(ng-include="'/admin/app/common/loading.html'")
	.panel-body(ng-if="norecords")
		div(ng-include="'/admin/app/common/norecords.html'")
	table.table.table-condensed(ng-if="!loading && !norecords")
		tr.active
			th.col-md-2 &nbsp;
			th Grupo
			th Usuário
			th Nome
			th Email
			th Login
		tr(ng-repeat="item in Usuarios")
			td
				.btn-group
					a.btn.btn-default(ng-click="edit(item)",tooltip="Editar")
						i.glyphicon.glyphicon-pencil
					a.btn.btn-default(ng-click="del(item)",tooltip="Excluir")
						i.glyphicon.glyphicon-trash
			td {{item.Grupo.nome}}
			td {{item.Usuario.username}}
			td {{item.Usuario.nome}}
			td {{item.Usuario.email}}
			td {{item.Usuario.last_login|date:'dd/MM/yy'}}
