.row
	.col-md-7
		div(ng-include="'/admin/app/common/pagination.html'")
	.col-md-5 &nbsp;
.panel.panel-primary
	.panel-heading.clearfix
		h3.panel-title Retornos
			span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
	.panel-footer.clearfix
		.well(style="height:150px;",nv-file-drop,uploader="uploader") Arraste e solte um arquivo aqui para envia-lo ao sistema.
	table.table(ng-if="uploader.queue.length > 0")
		tr
			th Nome
			th Tamanho
			th Progresso
			th &nbsp;
		tr(ng-repeat="item in uploader.queue")
			td {{item.file.name}}
			td {{item.file.size}}
			td(ng-show="uploader.isHTML5")
				.progress(style="margin-bottom: 0;")
					.progress-bar(role="progressbar",ng-style="{ 'width': item.progress + '%' }", style="width: 0%;")
			td
				button.btn.btn-success.btn-xs(type="button",ng-click="item.upload()",ng-disabled="item.isUploading")
					i.glyphicon.glyphicon-upload(tooltip="Enviar")
				button.btn.btn-warning.btn-xs(type="button",ng-click="item.cancel()",ng-disabled="!item.isUploading" disabled="disabled")
					i.glyphicon.glyphicon-ban-circle(tooltip="Cancelar")
	.panel-body(ng-if="loading")
		div(ng-include="'/admin/app/common/loading.html'")
	.panel-body(ng-if="norecords")
		div(ng-include="'/admin/app/common/norecords.html'")
	.panel-body(ng-if="!loading && !norecords")
		.col-md-6.pull-left(ng-repeat="item in Retornos")
			.panel.panel-default
				.panel-heading
					.panel-title {{item.Retorno.arquivo }}
				.panel-body(style="height: 300px; overflow: auto")
					table.table
						tr
							th Número
							th Sacado
							th Vencimento
							th Valor
							th Situação
						tr(ng-repeat="boleto in item.BoletoNovoRetorno")
							td {{boleto.boletonovo_id}}
							td(ng-if="boleto.BoletoNovo.Sacado") {{boleto.BoletoNovo.Sacado.nome_razaosocial}}
							td(ng-if="boleto.BoletoNovo.Sacado") {{boleto.BoletoNovo.data_vencimento|date:'d/MM/yy'}}
							td(ng-if="boleto.BoletoNovo.Sacado") {{boleto.BoletoNovo.valor|currency}}
							td(ng-if="boleto.BoletoNovo.Sacado") {{boleto.BoletoNovo.SituacaoBoleto.descricao}}
							td(colspan="4",ng-if="!boleto.BoletoNovo.Sacado").text-danger Boleto não existente!
				.panel-footer.clearfix
					.btn-group.pull-right
						a.btn.btn-default(ng-click="del(item)",tooltip="Excluir")
							i.fa.fa-2x.fa-trash
