form.form(name="TextoForm",novalidate,autocomplete="off")
	.row
		.col-md-11
			.panel.panel-primary
				.panel-heading
					.panel-title Textos
				.panel-body
						.form-group(ng-class="{'has-error':TextoForm.tipo.$invalid}")
							label.control-label Tipo
							input.form-control(required, name="tipo",ng-model="Form.tipo",placeholder="Tipo do Texto")
							span(class="help-block",ng-if="TextoForm.tipo.$error.required") Campo requerido!
					
						.form-group(ng-class="{'has-error':TextoForm.texto.$invalid}")
							label.control-label Texto
							textarea(ng-wig="Form.texto",required,name="texto",ng-model="Form.texto",placeholder="Texto")
							span(class="help-block",ng-if="TextoForm.texto.$invalid") Campo requerido!
				.panel-footer.clearfix
					.btn-group.pull-right(ng-click="save()")
		.col-md-1
			.btn-group-vertical
				button.btn.btn-primary(ng-click="save()",tooltip="Salvar",ng-disabled="TextoForm.$invalid")
					i.fa.fa-2x.fa-save
				button.btn.btn-default(ng-click="cancel()",tooltip="Cancelar")
					i.fa.fa-2x.fa-chevron-left
