.row
	.col-md-7
		div(ng-include="'/admin/app/common/pagination.html'")
	.col-md-5 &nbsp;
.row
	.col-md-11
		.panel.panel-primary
			.panel-heading.clearfix
				h3.panel-title Textos
					span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
			.panel-footer.clearfix
				.btn-group.pull-right
					
			.panel-body(ng-if="loading")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="norecords")
				div(ng-include="'/admin/app/common/norecords.html'")
			table.table(ng-if="!loading && !norecords")
				tr
					th.col-md-2 &nbsp;
					th Tipo
				tr(ng-repeat="item in Textos")
					td
						.btn-group
							a.btn.btn-default(ng-click="edit(item)",tooltip="Editar")
								i.fa.fa-2x.fa-edit
							a.btn.btn-default(ng-click="del(item)",tooltip="Excluir")
								i.fa.fa-2x.fa-trash
					td {{ item.Texto.tipo }}
	.col-md-1
		.btn-group-vertical
			button.btn.btn-default(tooltip="Novo Texto",ng-click="add()")
				i.fa.fa-2x.fa-file-o