.row
	.col-md-7
		div(ng-include="'/admin/app/common/pagination.html'")
	.col-md-5
.row
	.col-md-11
		.panel.panel-primary
			.panel-heading.clearfix
				h3.panel-title Contas
					span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
			.panel-body(ng-if="loading")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="norecords")
				div(ng-include="'/admin/app/common/norecords.html'")
			table.table(ng-if="!loading && !norecords")
				tr
					th.col-md-2 &nbsp;
					th Número
					th Saldo
					th Data
					th Agência
					th Banco
				tr(ng-repeat="item in Contas")
					td
						.btn-group
							a.btn.btn-default(ng-audio="/admin/audio/button-3.mp3",ng-click="edit(item)",tooltip="Editar")
								i.fa.fa-2x.fa-edit
							a.btn.btn-default(ng-audio="/admin/audio/button-1.mp3",ng-click="del(item)",tooltip="Excluir")
								i.fa.fa-2x.fa-trash
					td {{ item.Conta.numero }}
					td {{ item.Conta.saldo | currency }}
					td {{ item.Conta.data_saldo | date:'dd/MM/y' }}
					td {{ item.Agencia.numero }}/{{ item.Agencia.nome }}
					td {{ item.Agencia.Banco.numero }}/{{ item.Agencia.Banco.nome }}
	.col-md-1
		ng-include(src="'/admin/app/common/index-actions.html'")

