
<div bs-affix="bs-affix" data-offset-top="215" class="btn-group-vertical">
  <button ng-audio="/admin/audio/button-3.mp3" tooltip="Salvar" ng-click="save()" ng-disabled="ValidationForm.$invalid" class="btn btn-primary"><i class="fa fa-2x fa-save"></i></button>
  <button ng-audio="/admin/audio/button-1.mp3" tooltip="Cancelar" ng-click="cancel()" class="btn btn-default"><i class="fa fa-2x fa-chevron-left"></i></button>
</div>