
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Navegação</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="" class="navbar-brand">G & N</a>
    </div>
    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ng-audio="/admin/audio/button-3.mp3" href="#/">Dashboard</a></li>
        <li><a ng-audio="/admin/audio/button-3.mp3" href="#/sacados">Sacados</a></li>
        <li><a ng-audio="/admin/audio/button-3.mp3" href="#/parcelamentos">Parcelamentos</a></li>
      </ul>
      <!--form.navbar-form.navbar-right(role="theme")-->
      <!--	.form-group-->
      <!--		select.form-control(ng-model="selectedTheme",ng-options="item.name.toLowerCase() as item.name for item in BootswatchThemes")-->
      <!--	button.btn.btn-default(ng-click="changeTheme(selectedTheme)") Alterar-->
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="isSuperUser || grupoUsuario==3" class="dropdown"><a ng-audio="/admin/audio/button-2.mp3" href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Relatórios <span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li><a ng-audio="/admin/audio/button-3.mp3" href="#/relatorios/atraso">Clientes em atraso</a></li>
            <!--li-->
            <!--	a(ng-audio="/admin/audio/button-3.mp3",href="#/relatorios/pormes") Total por mês-->
          </ul>
        </li>
        <li ng-if="isSuperUser || grupoUsuario==3" class="dropdownn"><a ng-audio="/admin/audio/button-2.mp3" href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Financeiro <span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li><a ng-audio="/admin/audio/button-3.mp3" href="#/contas">Bancos/Agências/Contas</a></li>
            <li><a ng-audio="/admin/audio/button-3.mp3" href="#/retornos">Retornos</a></li>
          </ul>
        </li>
        <li ng-if="isSuperUser" class="dropdownn"><a ng-audio="/admin/audio/button-2.mp3" href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Segurança <span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li><a ng-audio="/admin/audio/button-3.mp3" href="#/usuarios">Usuários</a></li>
            <li><a ng-audio="/admin/audio/button-3.mp3" href="#/logs">Acessos</a></li>
          </ul>
        </li>
        <li ng-if="isSuperUser" class="dropdownn"><a ng-audio="/admin/audio/button-2.mp3" href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Sistema <span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li><a ng-audio="/admin/audio/button-3.mp3" href="#/textos">Textos</a></li>
          </ul>
        </li>
        <li class="dropdown active"><a ng-audio="/admin/audio/button-2.mp3" href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">{{nomeUsuario}} <span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li><a ng-audio="/admin/audio/button-3.mp3" href="#/perfil">Perfil</a></li>
            <li><a ng-audio="/admin/audio/button-3.mp3" href="/logout">Sair</a></li>
          </ul>
        </li>
        <li><a ng-audio="/admin/audio/button-3.mp3" href="" ng-click="resetTimer()" title="Tempo de conexão - clique para reiniciar" class="navbar-brand">
            <p ng-class="{'text-success':minutesToTimeout&gt;=10,'text-warning':minutesToTimeout&lt;10 &amp;&amp; minutesToTimeout&gt;3,'text-danger':minutesToTimeout&lt;=3}">{{sessionTimeout}}</p></a></li>
      </ul>
    </div>
  </div>
</nav>