nav.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
				span.sr-only Navegação
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="") G & N
		
		.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
			ul.nav.navbar-nav
				li
					a(ng-audio="/admin/audio/button-3.mp3",href="#/") Dashboard
				li
					a(ng-audio="/admin/audio/button-3.mp3",href="#/sacados") Sacados
				li
					a(ng-audio="/admin/audio/button-3.mp3",href="#/parcelamentos") Parcelamentos
				
			//form.navbar-form.navbar-right(role="theme")
			//	.form-group
			//		select.form-control(ng-model="selectedTheme",ng-options="item.name.toLowerCase() as item.name for item in BootswatchThemes")
			//	button.btn.btn-default(ng-click="changeTheme(selectedTheme)") Alterar
			
			ul.nav.navbar-nav.navbar-right
				li.dropdown(ng-if="isSuperUser || grupoUsuario==3")
					a.dropdown-toggle(ng-audio="/admin/audio/button-2.mp3",href="",data-toggle="dropdown",role="button",aria-expanded="false") Relatórios 
						span.caret
					ul.dropdown-menu(role="menu")
						li
							a(ng-audio="/admin/audio/button-3.mp3",href="#/relatorios/atraso") Clientes em atraso
						//li
						//	a(ng-audio="/admin/audio/button-3.mp3",href="#/relatorios/pormes") Total por mês

				li.dropdownn(ng-if="isSuperUser || grupoUsuario==3")
					a.dropdown-toggle(ng-audio="/admin/audio/button-2.mp3",href="",data-toggle="dropdown",role="button",aria-expanded="false") Financeiro 
						span.caret
					ul.dropdown-menu(role="menu")
						li
							a(ng-audio="/admin/audio/button-3.mp3",href="#/contas") Bancos/Agências/Contas
						li
							a(ng-audio="/admin/audio/button-3.mp3",href="#/retornos") Retornos
							
				li.dropdownn(ng-if="isSuperUser")
					a.dropdown-toggle(ng-audio="/admin/audio/button-2.mp3",href="",data-toggle="dropdown",role="button",aria-expanded="false") Segurança 
						span.caret
					ul.dropdown-menu(role="menu")
						li
							a(ng-audio="/admin/audio/button-3.mp3",href="#/usuarios") Usuários
						li
							a(ng-audio="/admin/audio/button-3.mp3",href="#/logs") Acessos

				li.dropdownn(ng-if="isSuperUser")
					a.dropdown-toggle(ng-audio="/admin/audio/button-2.mp3",href="",data-toggle="dropdown",role="button",aria-expanded="false") Sistema 
						span.caret
					ul.dropdown-menu(role="menu")
						li
							a(ng-audio="/admin/audio/button-3.mp3",href="#/textos") Textos

				
				li.dropdown.active
					a.dropdown-toggle(ng-audio="/admin/audio/button-2.mp3",href="",data-toggle="dropdown",role="button",aria-expanded="false") {{nomeUsuario}} 
						span.caret
					ul.dropdown-menu(role="menu")
						li
							a(ng-audio="/admin/audio/button-3.mp3",href="#/perfil") Perfil
						li
							a(ng-audio="/admin/audio/button-3.mp3",href="/logout") Sair
				li
					a.navbar-brand(ng-audio="/admin/audio/button-3.mp3",href="",ng-click="resetTimer()",title="Tempo de conexão - clique para reiniciar")
						p(ng-class="{'text-success':minutesToTimeout>=10,'text-warning':minutesToTimeout<10 && minutesToTimeout>3,'text-danger':minutesToTimeout<=3}") {{sessionTimeout}}
