pagination(ng-if="pagination.count > pagination.limit"
	total-items="pagination.count",
	max-size="pagination.limit",
	items-per-page="pagination.limit",
	ng-model="pagination.page",
	boundary-links="true",
	first-text="Primeira",
	previous-text="Anterior",
	next-text="Próximo",
	last-text="Última"
)
