.panel.panel-default
	.panel-heading
		h3.panel-title {{menuAction}} Menu
	.panel-body
		form.form
			.form-group
				label.form-label Título
				input.form-control(ng-model="Form.men_titulo")
			.form-group
				label.form-label Link
				input.form-control(ng-model="Form.men_link")
			.checkbox
				label 
					input(type="checkbox",ng-model="Form.men_novajanela")
					| Abrir em nova Janela ?
	.panel-footer.clearfix
		.btn-group.pull-right
			button.btn.btn-primary(ng-click="saveLevelX()") Salvar
			button.btn.btn-default(ng-click="addLevelXCancel()") Cancelar
