
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{menuAction}} Menu</h3>
  </div>
  <div class="panel-body">
    <form class="form">
      <div class="form-group">
        <label class="form-label">Título</label>
        <input ng-model="Form.men_titulo" class="form-control"/>
      </div>
      <div class="form-group">
        <label class="form-label">Link</label>
        <input ng-model="Form.men_link" class="form-control"/>
      </div>
      <div class="checkbox">
        <label> 
          <input type="checkbox" ng-model="Form.men_novajanela"/>Abrir em nova Janela ?
        </label>
      </div>
    </form>
  </div>
  <div class="panel-footer clearfix">
    <div class="btn-group pull-right">
      <button ng-click="saveLevelX()" class="btn btn-primary">Salvar</button>
      <button ng-click="addLevelXCancel()" class="btn btn-default">Cancelar</button>
    </div>
  </div>
</div>