body {
	margin-top: 70px;
}
/*
* {
	transition: all 1s;
}
*/
.affix {
	top: 60px;
}
.pointer {
	cursor: pointer;
}

.table td {
	vertical-align: middle !important;
}

.glyphicon {
	font-size: 18px !important;
}
.snap-drawers, snap-content {
	margin-top: 70px;
}
