.page_header.hidden-print
	h3 Documentos do Parcelamento
.panel.panel-default.hidden-print
	.panel-heading
		h3.panel-title Textos dos Documentos
	.panel-body
		.row
			.col-md-6
				select.form-control(ng-model="selectedTipo")
					option(value="") Selecione o Tipo de Documento
					option(value="{{$index}}",ng-repeat="item in Textos") {{item.Texto.tipo}}
			.col-md-6.clearfix
				.btn-group.pull-right
					button.btn.btn-default(tooltip="Imprimir",ng-click="print()")
						i.fa.fa-2x.fa-print
		br
		.row
			.col-md-6.no-print
				textarea(ng-wig="originalText",rows="5", ng-model="originalText")
			.col-md-6
				div(style="margin-top:20px",ng-bind-html="replacedText|unsafe")
div.visible-print-block(ng-bind-html="replacedText|unsafe")