form.form(name="ParcelamentoForm",novalidate,autocomplete="off")
	.row
		.col-md-11
			.panel.panel-primary
				.panel-heading
					.panel-title {{header}}
	
				.panel-body
					.row
						.col-md-4
							.form-group(ng-class="{'has-error':ParcelamentoForm.valor.$invalid}")
								label.control-label Valor Total
								input.form-control(ng-change="calcParcelas()", ng-model="Form.valor",name="valor",required,ng-min="1",type="number") 
						.col-md-4
							.form-group(ng-class="{'has-error':ParcelamentoForm.parcelas.$invalid}")
								label.control-label Parcelas
								input.form-control(ng-change="calcParcelas()", ng-model="Form.parcelas",name="parcelas",required,ng-min="1",type="number") 
						.col-md-4
							.form-group
								label.control-label Valor Parcelas
								input.form-control(ng-model="valor_parcelas",readonly) 
					.row
						.col-md-2
							.form-group
								label.control-label Data
								input.form-control(maxlength="10",calendar,validatedateformat,data-date-format="dd/MM/yyyy",type="date",name="data",ng-model="Form.data")
						.col-md-4
							.form-group(ng-class="{'has-error':ParcelamentoForm.outorgante_id.$invalid}")
								label.control-label Outorgante
								input.form-control(ng-model="sacado_nome")
								select.form-control(required,ng-options="item.Sacado.id as item.Sacado.nome_razaosocial for item in Sacados",ng-model="Form.outorgante_id",name="outorgante_id") 
						.col-md-2(style="padding-top:27px;")
							input(bs-switch,ng-model="Form.temrepresentante",type="checkbox",switch-label="Representante?",switch-on-text="Sim",switch-off-text="Não")
						.col-md-4
							.form-group
								label.control-label Representante
								input.form-control(ng-disabled="!Form.temrepresentante",ng-model="representante_nome")
								select.form-control(ng-disabled="!Form.temrepresentante",ng-options="item.Sacado.id as item.Sacado.nome_razaosocial for item in Representantes",ng-model="Form.representante_id",name="representante_id") 
		.col-md-1
			.btn-group-vertical
				button.btn.btn-primary(ng-click="save()",ng-disabled="ParcelamentoForm.$invalid") 
					i.fa.fa-2x.fa-save
				button.btn.btn-default(ng-click="cancel()")
					i.fa.fa-2x.fa-chevron-left
