.row
	.col-md-7
		div(ng-include="'/admin/app/common/pagination.html'")
	.col-md-5
		.input-group(style="margin: 20px 0")
			input.form-control(name="pesquisaParcelamento",ng-model="Pesquisa.nome_razaosocial",placeholder="Pesquise pelo Nome/Razão Social")
			span.input-group-btn
				button.btn.btn-default(ng-click="pesqParcelamento()", ng-disabled="Pesquisa.nome_razaosocial.length < 3", type="button") Pesquisar Parcelamentos
				button.btn.btn-default(ng-click="Pesquisa.nome_razaosocial='';pesqParcelamento()", type="button") Zerar Pesquisa

.row
	.col-md-11
		.panel.panel-primary
			.panel-heading.clearfix
				h3.panel-title Parcelamentos
					span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
			.panel-body(ng-if="loading")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="norecords")
				div(ng-include="'/admin/app/common/norecords.html'")
			table.table(ng-if="!loading && !norecords")
				tr
					th.col-md-2 &nbsp;
					th Data
					th Outorgante
					th Representante
					th Parcelas
					th Valor
					th Documentos
				tr(ng-repeat="item in Documentos")
					td
						.btn-group
							a.btn.btn-default(ng-disabled="item.Documento.parcelas_pagas != 0",ng-click="edit(item)",tooltip="Editar")
								i.fa.fa-2x.fa-pencil
							a.btn.btn-default(ng-click="boletos(item)",tooltip="Boletos")
								i.fa.fa-2x.fa-money
					td {{item.Documento.data | date:'dd/MM/y' }}
					td {{item.Outorgante.nome_razaosocial }}
					td {{item.Representante.nome_razaosocial || 'Nenhum' }}
					td {{item.Documento.parcelas_pagas}} pagas de {{item.Documento.parcelas}}
					td {{item.Documento.valor|number:2}}
					td
						a(href="#/parcelamentos/docs/{{item.Documento.id}}")
							i.fa.fa-2x.fa-file-word-o
	.col-md-1
		ng-include(src="'/admin/app/common/index-actions.html'")
