.page-header
	h3 {{header}} - {{Form.nome_razaosocial}}

.panel.panel-primary
	.panel-heading
		.panel-title Formulário
	.panel-body.clearfix
		.btn-group.pull-right
			button.btn.btn-default(ng-click="save()",ng-disabled="SacadoForm.$invalid") Salvar
			button.btn.btn-default(ng-click="cancel()") Cancelar
	.panel-body
		form.form(name="SacadoForm",novalidate,autocomplete="off")
			.row
				.col-md-6
					.form-group(ng-class="{'has-error':SacadoForm.nome_razaosocial.$invalid}")
						.pull-right.clearfix
							i.text-danger.fa.fa-asterisk(tooltip="Campo requerido",ng-if="SacadoForm.nome_razaosocial.$invalid")
							i.text-success.fa.fa-check(tooltip="Campo requerido",ng-if="SacadoForm.nome_razaosocial.$valid")
						label.control-label Nome / Razão Social
						input.form-control(required, ng-minlength="3", name="nome_razaosocial",ng-model="Form.nome_razaosocial",placeholder="Nome do Sacado")
						span(class="help-block",ng-if="SacadoForm.nome.$error.minlength") Mais de 3 caracteres
				.col-md-6
					.form-group(ng-class="{'has-error':SacadoForm.cpf_cnpj.$invalid}")
						.pull-right.clearfix
							i.text-danger.fa.fa-asterisk(tooltip="Campo requerido",ng-if="SacadoForm.cpf_cnpj.$invalid")
							i.text-success.fa.fa-check(tooltip="Campo requerido",ng-if="SacadoForm.cpf_cnpj.$valid")
						label.control-label CPF / CNPJ
						input.form-control(ui-br-cpfcnpj-mask,required,name="cpf_cnpj",ng-model="Form.cpf_cnpj",placeholder="CPF/CNPJ")
						span(class="help-block",ng-if="SacadoForm.cpf_cnpj.$invalid")  CPF ou CNPJ inválido
			.row
				.col-md-6
					.form-group(ng-class="{'has-error':SacadoForm.email.$invalid}")
						.pull-right.clearfix
							i.text-success.fa.fa-check(tooltip="Campo requerido",ng-if="SacadoForm.email.$valid")
						label.control-label Email
						input.form-control(type="email", name="email",ng-model="Form.email",placeholder="Email do Sacado")
						span(class="help-block",ng-if="SacadoForm.email.$invalid") Email inválido
				.col-md-6
					.form-group(ng-class="{'has-error':SacadoForm.profissao.$invalid}")
						label.control-label Profissão
						input.form-control(name="profissao",ng-model="Form.profissao",placeholder="Digite a Profissão")
			.row
				.col-md-4
					.form-group(ng-class="{'has-error':SacadoForm.cep.$invalid}")
						.pull-right.clearfix
							i.text-success.fa.fa-check(tooltip="Campo requerido",ng-if="SacadoForm.cep.$valid")
						label.control-label CEP
						.input-group
							input.form-control(name="cep",ui-br-cep-mask,ng-model="Form.cep",placeholder="Digite o CEP")
							span.input-group-btn
								button.btn.btn-default(ng-click="pesqEndereco()", type="button",ng-disabled="SacadoForm.cep.$invalid || Form.cep.length == 0") Pesquisar endereço
				.col-md-4
					.form-group(ng-class="{'has-error':SacadoForm.cidade.$invalid}")
						label.control-label Cidade
						input.form-control(name="cidade",ng-model="Form.cidade",placeholder="Digite a Cidade")
				.col-md-4
					.form-group(ng-class="{'has-error':SacadoForm.bairro.$invalid}")
						label.control-label Bairro
						input.form-control(name="bairro",ng-model="Form.bairro",placeholder="Digite o Bairro")
			.row
				.col-md-3
					.form-group(ng-class="{'has-error':SacadoForm.ddd_telefone.$invalid}")
						.pull-right.clearfix
							i.text-success.fa.fa-check(tooltip="Campo requerido",ng-if="SacadoForm.ddd_telefone.$valid")
						label.control-label Telefone
						input.form-control(name="ddd_telefone",ui-br-phone-number,ng-model="Form.ddd_telefone",placeholder="Telefone")
						span(class="help-block",ng-if="SacadoForm.ddd_telefone.$invalid") Telefone inválido
				.col-md-4
					.form-group(ng-class="{'has-error':SacadoForm.endereco.$invalid}")
						.pull-right.clearfix
							i.text-success.fa.fa-check(tooltip="Campo requerido",ng-if="SacadoForm.endereco.$valid")
						label.control-label Endereço
						input.form-control(type="text", name="endereco",ng-model="Form.endereco",placeholder="Endereço do Sacado")
				.col-md-4
					.form-group(ng-class="{'has-error':SacadoForm.complemento.$invalid}")
						label.control-label Complemento
						input.form-control(name="complemento",ng-model="Form.complemento",placeholder="Complemento")
				.col-md-1
					.form-group(ng-class="{'has-error':SacadoForm.uf.$invalid}")
						.pull-right.clearfix
							i.text-danger.fa.fa-asterisk(tooltip="Campo requerido",ng-if="SacadoForm.uf.$invalid")
							i.text-success.fa.fa-check(tooltip="Campo correto",ng-if="SacadoForm.uf.$valid")
						label.control-label Estado
						input.form-control(required,ng-minlength="2", ng-maxlength="2",name="uf",ng-model="Form.uf")
						span(class="help-block",ng-if="SacadoForm.uf.$invalid") Sigla
	.panel-footer.clearfix
		.btn-group.pull-right(ng-click="save()")
			button.btn.btn-default(ng-click="save()",ng-disabled="SacadoForm.$invalid") Salvar
			button.btn.btn-default(ng-click="cancel()") Cancelar
