.page_header.hidden-print
	h3 Documentos do Sacado
.panel.panel-default.hidden-print
	.panel-heading
		h3.panel-title Procuração
	.panel-body
		.row
			.col-md-6 &nbsp;
			.col-md-6.clearfix
				.btn-group.pull-right
					button.btn.btn-default(tooltip="Imprimir",ng-click="print()")
						i.fa.fa-2x.fa-print
		br
		.row
			.col-md-6.no-print
				textarea(ng-wig="originalText",rows="5", ng-model="originalText")
			.col-md-6
				div(style="margin-top:20px",ng-bind-html="replacedText|unsafe")
div.visible-print-block(ng-bind-html="replacedText|unsafe")