
<div class="row">
  <div class="col-md-11">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">Formulário</div>
      </div>
      <div class="panel-body">
        <form name="SacadoForm" novalidate="novalidate" autocomplete="off" class="form">
          <div class="row">
            <div class="col-md-5">
              <div ng-class="{'has-error':SacadoForm.nome_razaosocial.$invalid}" class="form-group">
                <div class="pull-right clearfix"><i tooltip="Campo requerido" ng-if="SacadoForm.nome_razaosocial.$invalid" class="text-danger fa fa-asterisk"></i><i tooltip="Campo requerido" ng-if="SacadoForm.nome_razaosocial.$valid" class="text-success fa fa-check"></i></div>
                <label class="control-label">Nome / Razão Social</label>
                <input required="required" ng-minlength="3" name="nome_razaosocial" ng-model="Form.nome_razaosocial" placeholder="Nome do Sacado" class="form-control"/><span ng-if="SacadoForm.nome.$error.minlength" class="help-block">Mais de 3 caracteres</span>
              </div>
            </div>
            <div class="col-md-3">
              <div ng-class="{'has-error':SacadoForm.cpf_cnpj.$invalid}" class="form-group">
                <div class="pull-right clearfix"><i tooltip="Campo requerido" ng-if="SacadoForm.cpf_cnpj.$invalid" class="text-danger fa fa-asterisk"></i><i tooltip="Campo requerido" ng-if="SacadoForm.cpf_cnpj.$valid" class="text-success fa fa-check"></i></div>
                <label class="control-label">CPF / CNPJ</label>
                <input ui-br-cpfcnpj-mask="ui-br-cpfcnpj-mask" required="required" name="cpf_cnpj" ng-model="Form.cpf_cnpj" placeholder="CPF/CNPJ" class="form-control"/><span ng-if="SacadoForm.cpf_cnpj.$invalid" class="help-block"> CPF ou CNPJ inválido</span>
              </div>
            </div>
            <div class="col-md-2">
              <div ng-class="{'has-error':SacadoForm.cpf_cnpj.$invalid}" class="form-group">
                <div class="pull-right clearfix"><i tooltip="Campo requerido" ng-if="SacadoForm.docnumero.$invalid" class="text-danger fa fa-asterisk"></i><i tooltip="Campo requerido" ng-if="SacadoForm.docnumero.$valid" class="text-success fa fa-check"></i></div>
                <label class="control-label">Documento </label>
                <input required="required" name="docnumero" ng-model="Form.docnumero" placeholder="Documento" class="form-control"/>
              </div>
            </div>
            <div class="col-md-2">
              <div ng-class="{'has-error':SacadoForm.cpf_cnpj.$invalid}" class="form-group">
                <div class="pull-right clearfix"><i tooltip="Campo requerido" ng-if="SacadoForm.docorgao.$invalid" class="text-danger fa fa-asterisk"></i><i tooltip="Campo requerido" ng-if="SacadoForm.docorgao.$valid" class="text-success fa fa-check"></i></div>
                <label class="control-label">Órgão </label>
                <input required="required" name="docorgao" ng-model="Form.docorgao" placeholder="Órgão" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div ng-class="{'has-error':SacadoForm.email.$invalid}" class="form-group">
                <div class="pull-right clearfix"><i tooltip="Campo requerido" ng-if="SacadoForm.email.$valid" class="text-success fa fa-check"></i></div>
                <label class="control-label">Email</label>
                <input type="email" name="email" ng-model="Form.email" placeholder="Email do Sacado" class="form-control"/><span ng-if="SacadoForm.email.$invalid" class="help-block">Email inválido</span>
              </div>
            </div>
            <div class="col-md-3">
              <div ng-class="{'has-error':SacadoForm.nacionalidade.$invalid}" class="form-group">
                <label class="control-label">Nacionalidade</label>
                <input name="nacionalidade" ng-model="Form.nacionalidade" placeholder="Digite a Nacionalidade" class="form-control"/>
              </div>
            </div>
            <div class="col-md-3">
              <div ng-class="{'has-error':SacadoForm.profissao.$invalid}" class="form-group">
                <label class="control-label">Profissão</label>
                <input name="profissao" ng-model="Form.profissao" placeholder="Digite a Profissão" class="form-control"/>
              </div>
            </div>
            <div class="col-md-3">
              <div ng-class="{'has-error':SacadoForm.estadocivil_id.$invalid}" class="form-group">
                <label class="control-label">Estado Civil</label>
                <select required="required" ng-options="item.EstadoCivil.id as item.EstadoCivil.descricao for item in EstadosCivis" name="estadocivil_id" ng-model="Form.estadocivil_id" class="form-control">
                  <option value="">Escolha o Estado Civil</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div ng-class="{'has-error':SacadoForm.cep.$invalid}" class="form-group">
                <div class="pull-right clearfix"><i tooltip="Campo requerido" ng-if="SacadoForm.cep.$valid" class="text-success fa fa-check"></i></div>
                <label class="control-label">CEP</label>
                <div class="input-group">
                  <input name="cep" ui-br-cep-mask="ui-br-cep-mask" ng-model="Form.cep" placeholder="Digite o CEP" class="form-control"/><span class="input-group-btn">
                    <button ng-click="pesqEndereco()" type="button" ng-disabled="SacadoForm.cep.$invalid || Form.cep.length == 0" class="btn btn-default">Pesquisar endereço</button></span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div ng-class="{'has-error':SacadoForm.cidade.$invalid}" class="form-group">
                <label class="control-label">Cidade</label>
                <input name="cidade" ng-model="Form.cidade" placeholder="Digite a Cidade" class="form-control"/>
              </div>
            </div>
            <div class="col-md-4">
              <div ng-class="{'has-error':SacadoForm.bairro.$invalid}" class="form-group">
                <label class="control-label">Bairro</label>
                <input name="bairro" ng-model="Form.bairro" placeholder="Digite o Bairro" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div ng-class="{'has-error':SacadoForm.ddd_telefone.$invalid}" class="form-group">
                <div class="pull-right clearfix"><i tooltip="Campo requerido" ng-if="SacadoForm.ddd_telefone.$valid" class="text-success fa fa-check"></i></div>
                <label class="control-label">Telefone</label>
                <input name="ddd_telefone" ui-br-phone-number="ui-br-phone-number" ng-model="Form.ddd_telefone" placeholder="Telefone" class="form-control"/><span ng-if="SacadoForm.ddd_telefone.$invalid" class="help-block">Telefone inválido</span>
              </div>
            </div>
            <div class="col-md-2">
              <div ng-class="{'has-error':SacadoForm.ddd_telefone2.$invalid}" class="form-group">
                <div class="pull-right clearfix"><i tooltip="Campo requerido" ng-if="SacadoForm.ddd_telefone2.$valid" class="text-success fa fa-check"></i></div>
                <label class="control-label">Outro Telefone</label>
                <input name="ddd_telefone2" ui-br-phone-number="ui-br-phone-number" ng-model="Form.ddd_telefone2" placeholder="Outro Telefone" class="form-control"/><span ng-if="SacadoForm.ddd_telefone2.$invalid" class="help-block">Telefone inválido</span>
              </div>
            </div>
            <div class="col-md-4">
              <div ng-class="{'has-error':SacadoForm.endereco.$invalid}" class="form-group">
                <div class="pull-right clearfix"><i tooltip="Campo requerido" ng-if="SacadoForm.endereco.$valid" class="text-success fa fa-check"></i></div>
                <label class="control-label">Endereço</label>
                <input type="text" name="endereco" ng-model="Form.endereco" placeholder="Endereço do Sacado" class="form-control"/>
              </div>
            </div>
            <div class="col-md-3">
              <div ng-class="{'has-error':SacadoForm.complemento.$invalid}" class="form-group">
                <label class="control-label">Complemento</label>
                <input name="complemento" ng-model="Form.complemento" placeholder="Complemento" class="form-control"/>
              </div>
            </div>
            <div class="col-md-1">
              <div ng-class="{'has-error':SacadoForm.uf.$invalid}" class="form-group">
                <div class="pull-right clearfix"><i tooltip="Campo requerido" ng-if="SacadoForm.uf.$invalid" class="text-danger fa fa-asterisk"></i><i tooltip="Campo correto" ng-if="SacadoForm.uf.$valid" class="text-success fa fa-check"></i></div>
                <label class="control-label">Estado</label>
                <input required="required" ng-minlength="2" ng-maxlength="2" name="uf" ng-model="Form.uf" class="form-control"/><span ng-if="SacadoForm.uf.$invalid" class="help-block">Sigla</span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <ng-include src="'/admin/app/common/form-actions.html'"></ng-include>
  </div>
</div>