.row
	.col-md-7
		div(ng-include="'/admin/app/common/pagination.html'")
	.col-md-5
		.input-group(style="margin: 20px 0")
			input.form-control(ng-keyup="pesquisaTyping($event)", name="pesquisaSacado",ng-model="Pesquisa.nome_razaosocial",placeholder="Pesquise pelo Nome/Razão Social")
			span.input-group-btn
				button.btn.btn-default(ng-click="pesqSacado()", ng-disabled="Pesquisa.nome_razaosocial.length < 3", type="button") Pesquisar Sacados
				button.btn.btn-default(ng-click="Pesquisa.nome_razaosocial='';pesqSacado()", type="button") Zerar Pesquisa
.row
	.col-md-10
		.panel.panel-primary
			.panel-heading.clearfix
				h3.panel-title Sacados
					span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
			.panel-body(ng-if="loading")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="norecords")
				div(ng-include="'/admin/app/common/norecords.html'")
			table.table(ng-if="!loading && !norecords")
				tr
					th.col-md-2 &nbsp;
					th ID - Nome
					th CPF/CNPJ
					th Boletos Antigos
					th Boletos Novos
				tr(ng-repeat="item in Sacados")
					td
						.btn-group
							a.btn.btn-sm.btn-default(ng-click="view(item)",tooltip="Ver")
								i.fa.fa-2x.fa-eye
							a.btn.btn-sm.btn-default(ng-click="procuracao(item)",tooltip="Procuração")
								i.fa.fa-2x.fa-file-word-o
							a.btn.btn-sm.btn-default(ng-click="edit(item)",tooltip="Editar")
								i.fa.fa-2x.fa-pencil
							a.btn.btn-sm.btn-default(ng-click="del(item)",tooltip="Excluir")
								i.fa.fa-2x.fa-trash
					td {{item.Sacado.id}} - {{item.Sacado.nome_razaosocial}}
					td {{item.Sacado.cpf_cnpj | brCpf }}
					td {{item.BoletoAntigo.length }}
					td {{item.BoletoNovo.length }}
			.panel-footer
				.row
					.col-md-1 Teste1
					.col-md-9 Teste2
					.col-md-2 Teste3
	.col-md-2
		ng-include(src="'/admin/app/common/index-actions.html'")
