
<div class="row">
  <div class="col-md-7">
    <div ng-include="'/admin/app/common/pagination.html'"></div>
  </div>
  <div class="col-md-5">
    <div style="margin: 20px 0" class="input-group">
      <input ng-keyup="pesquisaTyping($event)" name="pesquisaSacado" ng-model="Pesquisa.nome_razaosocial" placeholder="Pesquise pelo Nome/Razão Social" class="form-control"/><span class="input-group-btn">
        <button ng-click="pesqSacado()" ng-disabled="Pesquisa.nome_razaosocial.length &lt; 3" type="button" class="btn btn-default">Pesquisar Sacados</button>
        <button ng-click="Pesquisa.nome_razaosocial='';pesqSacado()" type="button" class="btn btn-default">Zerar Pesquisa</button></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Sacados<span class="pull-right">Página {{pagination.page}} de {{pagination.pageCount}}</span></h3>
      </div>
      <div ng-if="loading" class="panel-body">
        <div ng-include="'/admin/app/common/loading.html'"></div>
      </div>
      <div ng-if="norecords" class="panel-body">
        <div ng-include="'/admin/app/common/norecords.html'"></div>
      </div>
      <table ng-if="!loading &amp;&amp; !norecords" class="table">
        <tr>
          <th class="col-md-2">&nbsp;</th>
          <th>ID - Nome</th>
          <th>CPF/CNPJ</th>
          <th>Boletos Antigos</th>
          <th>Boletos Novos</th>
        </tr>
        <tr ng-repeat="item in Sacados">
          <td>
            <div class="btn-group"><a ng-click="view(item)" tooltip="Ver" class="btn btn-sm btn-default"><i class="fa fa-2x fa-eye"></i></a><a ng-click="procuracao(item)" tooltip="Procuração" class="btn btn-sm btn-default"><i class="fa fa-2x fa-file-word-o"></i></a><a ng-click="edit(item)" tooltip="Editar" class="btn btn-sm btn-default"><i class="fa fa-2x fa-pencil"></i></a><a ng-click="del(item)" tooltip="Excluir" class="btn btn-sm btn-default"><i class="fa fa-2x fa-trash"></i></a></div>
          </td>
          <td>{{item.Sacado.id}} - {{item.Sacado.nome_razaosocial}}</td>
          <td>{{item.Sacado.cpf_cnpj | brCpf }}</td>
          <td>{{item.BoletoAntigo.length }}</td>
          <td>{{item.BoletoNovo.length }}</td>
        </tr>
      </table>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-1">Teste1</div>
          <div class="col-md-9">Teste2</div>
          <div class="col-md-2">Teste3</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <ng-include src="'/admin/app/common/index-actions.html'"></ng-include>
  </div>
</div>