.row
	.col-md-7
		div(ng-include="'/admin/app/common/pagination.html'")
	.col-md-5
		.input-group(style="margin: 20px 0")
			input.form-control(name="pesquisaSacado",ng-model="Pesquisa.nome_razaosocial",placeholder="Pesquise pelo Nome/Razão Social")
			span.input-group-btn
				button.btn.btn-default(ng-click="pesqSacado()", ng-disabled="Pesquisa.nome_razaosocial.length < 3", type="button") Pesquisar Sacados
				button.btn.btn-default(ng-click="Pesquisa.nome_razaosocial='';pesqSacado()", type="button") Zerar Pesquisa
.panel.panel-primary
	.panel-heading
		h3.panel-title Relatórios - Clientes em Atraso
	table.table
		thead
			tr
				th.clearfix
					span.pull-right Total atrasado: {{total_atrasado|currency}}
		tr
			th Cliente
			th Data
			th Valor
		tr(ng-repeat="item in BoletosNovos")
			td 
				a(href="#/sacados/view/{{item.Sacado.id}}") {{item.Sacado.nome_razaosocial}}
			td {{item.BoletoNovo.data_vencimento|date}}
			td {{item.BoletoNovo.valor|currency}}
