br
br
.row
	.col-md-4
	.col-md-4
		.panel.panel-primary
			.panel-heading
				.panel-title Login
			.panel-body
				form.form#LoginForm(method="post")
					form-group
						label Usuário
						input.form-control(name="data[Usuario][username]")
					form-group
						label Senha
						input.form-control(type="password",name="data[Usuario][password]")
			.panel-footer.clearfix
				.btn-group.pull-right
					button.btn.btn-primary(form="LoginForm",type="submit") Login
	.col-md-4
