<html>
<head>
<title>Ajustando Menus</title>
</head>
<body>
	<?php echo 'Níveis 2 e 3: '.count($counter); ?><br>
	<?php echo 'De: '.$counter[0]['Menu']['men_id'].' até '.$counter[count($counter)-1]['Menu']['men_id'];?><br><br>
	<br>
	<?php foreach($counter as $lin) { ?>
	<?php echo 'Titulo: '.$lin['Menu']['men_titulo'].'<br>'; ?>
	<?php //echo 'Entidade: '.$lin['Menu']['men_ent_id'].'<br>'; ?>
	
	<?php echo 'Nível: '.$lin['Menu']['nivel'].'<br>'; ?>
	<br><br>
	<?php } ?>
 	<br>
	Recarregando...
	<script>
		location.reload();
	</script>
</body>
</html>
