.row
	.col-md-4
		.panel.panel-warning
			.panel-heading
				h3.panel-title Vencidos Ontem {{ontem}}
			.panel-body(ng-if="loadingOntem")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="BoletosOntemN.length == 0 && BoletosOntemA.length == 0")
				p.text-danger Nenhum Registro
			table.table(ng-if="BoletosOntemN.length > 0 || BoletosOntemA.length > 0")
				tr
					th Valor
					th Sacado
					th Situação
				tr(ng-repeat="item in BoletosOntemN")
					td {{item.BoletoNovo.valor|number:2}}
					td
						a(href="#/sacados/view/{{item.Sacado.id}}") {{item.Sacado.nome_razaosocial}}
					td {{item.SituacaoBoleto.descricao}}
				tr(ng-repeat="item in BoletosOntemA")
					td {{item.BoletoAntigo.valor|number:2}}
					td
						a(href="#/sacados/view/{{item.Sacado.id}}") {{item.Sacado.nome_razaosocial}}
					td {{item.SituacaoBoleto.descricao}}
	.col-md-4
		.panel.panel-success
			.panel-heading
				h3.panel-title Vencem Hoje
			.panel-body(ng-if="loadingHoje")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="BoletosHojeN.length == 0 && BoletosHojeA.length == 0")
				p.text-danger Nenhum Registro
			table.table(ng-if="BoletosHojeN.length > 0 || BoletosHojeA.length > 0")
				tr
					th Valor
					th Sacado
					th Situação
				tr(ng-repeat="item in BoletosHojeN")
					td {{item.BoletoNovo.valor|number:2}}
					td
						a(href="#/sacados/view/{{item.Sacado.id}}") {{item.Sacado.nome_razaosocial}}
					td {{item.SituacaoBoleto.descricao}}
				tr(ng-repeat="item in BoletosHojeA")
					td {{item.BoletoAntigo.valor|number:2}}
					td
						a(href="#/sacados/view/{{item.Sacado.id}}") {{item.Sacado.nome_razaosocial}}
					td {{item.SituacaoBoleto.descricao}}
	.col-md-4
		.panel.panel-primary
			.panel-heading
				h3.panel-title Vencem Amanhã
			.panel-body(ng-if="loadingAmanha")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="BoletosAmanhaN.length == 0 && BoletosAmanhaA.length == 0")
				p.text-danger Nenhum Registro
			table.table(ng-if="BoletosAmanhaN.length > 0 || BoletosAmanhaA.legnth > 0")
				tr
					th Valor
					th Sacado
					th Situação
				tr(ng-repeat="item in BoletosAmanhaN")
					td {{item.BoletoNovo.valor|number:2}}
					td
						a(href="#/sacados/view/{{item.Sacado.id}}") {{item.Sacado.nome_razaosocial}}
					td {{item.SituacaoBoleto.descricao}}
				tr(ng-repeat="item in BoletosAmanhaA")
					td {{item.BoletoAntigo.valor|number:2}}
					td
						a(href="#/sacados/view/{{item.Sacado.id}}") {{item.Sacado.nome_razaosocial}}
					td {{item.SituacaoBoleto.descricao}}