
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Vencidos Ontem {{ontem}}</h3>
      </div>
      <div ng-if="loadingOntem" class="panel-body">
        <div ng-include="'/admin/app/common/loading.html'"></div>
      </div>
      <div ng-if="BoletosOntemN.length == 0 &amp;&amp; BoletosOntemA.length == 0" class="panel-body">
        <p class="text-danger">Nenhum Registro</p>
      </div>
      <table ng-if="BoletosOntemN.length &gt; 0 || BoletosOntemA.length &gt; 0" class="table">
        <tr>
          <th>Valor</th>
          <th>Sacado</th>
          <th>Situação</th>
        </tr>
        <tr ng-repeat="item in BoletosOntemN">
          <td>{{item.BoletoNovo.valor|number:2}}</td>
          <td><a href="#/sacados/view/{{item.Sacado.id}}">{{item.Sacado.nome_razaosocial}}</a></td>
          <td>{{item.SituacaoBoleto.descricao}}</td>
        </tr>
        <tr ng-repeat="item in BoletosOntemA">
          <td>{{item.BoletoAntigo.valor|number:2}}</td>
          <td><a href="#/sacados/view/{{item.Sacado.id}}">{{item.Sacado.nome_razaosocial}}</a></td>
          <td>{{item.SituacaoBoleto.descricao}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Vencem Hoje</h3>
      </div>
      <div ng-if="loadingHoje" class="panel-body">
        <div ng-include="'/admin/app/common/loading.html'"></div>
      </div>
      <div ng-if="BoletosHojeN.length == 0 &amp;&amp; BoletosHojeA.length == 0" class="panel-body">
        <p class="text-danger">Nenhum Registro</p>
      </div>
      <table ng-if="BoletosHojeN.length &gt; 0 || BoletosHojeA.length &gt; 0" class="table">
        <tr>
          <th>Valor</th>
          <th>Sacado</th>
          <th>Situação</th>
        </tr>
        <tr ng-repeat="item in BoletosHojeN">
          <td>{{item.BoletoNovo.valor|number:2}}</td>
          <td><a href="#/sacados/view/{{item.Sacado.id}}">{{item.Sacado.nome_razaosocial}}</a></td>
          <td>{{item.SituacaoBoleto.descricao}}</td>
        </tr>
        <tr ng-repeat="item in BoletosHojeA">
          <td>{{item.BoletoAntigo.valor|number:2}}</td>
          <td><a href="#/sacados/view/{{item.Sacado.id}}">{{item.Sacado.nome_razaosocial}}</a></td>
          <td>{{item.SituacaoBoleto.descricao}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Vencem Amanhã</h3>
      </div>
      <div ng-if="loadingAmanha" class="panel-body">
        <div ng-include="'/admin/app/common/loading.html'"></div>
      </div>
      <div ng-if="BoletosAmanhaN.length == 0 &amp;&amp; BoletosAmanhaA.length == 0" class="panel-body">
        <p class="text-danger">Nenhum Registro</p>
      </div>
      <table ng-if="BoletosAmanhaN.length &gt; 0 || BoletosAmanhaA.legnth &gt; 0" class="table">
        <tr>
          <th>Valor</th>
          <th>Sacado</th>
          <th>Situação</th>
        </tr>
        <tr ng-repeat="item in BoletosAmanhaN">
          <td>{{item.BoletoNovo.valor|number:2}}</td>
          <td><a href="#/sacados/view/{{item.Sacado.id}}">{{item.Sacado.nome_razaosocial}}</a></td>
          <td>{{item.SituacaoBoleto.descricao}}</td>
        </tr>
        <tr ng-repeat="item in BoletosAmanhaA">
          <td>{{item.BoletoAntigo.valor|number:2}}</td>
          <td><a href="#/sacados/view/{{item.Sacado.id}}">{{item.Sacado.nome_razaosocial}}</a></td>
          <td>{{item.SituacaoBoleto.descricao}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>