doctype html
html(ng-app="sitesApp",ng-controller="MainController")
	head
		title <?php echo $this->fetch('title'); ?>
		| <?php 
		| echo $this->tbs->tbsCSS();
		| echo $this->tbs->tbwCSS();
		| echo $this->tbs->FontAwesomeCSS();
		| echo $this->Html->css('Admin.admin');

		| echo $this->tbs->jqJS();
		| echo $this->tbs->tbsJS();
		
		| echo $this->angular->scripts();
		
		| echo $this->angular->controllers();

		| echo $this->Html->script('Admin.admin');

		| echo $this->fetch('meta');
		| echo $this->fetch('css');
		| echo $this->fetch('script'); 
		| ?>
	body
		<?php //echo $this->Session->flash(); ?>
		<?php echo $this->fetch('content'); ?>
		<?php echo $this->element('sql_dump'); ?>
