div(ng-if="isView",ng-include="'/admin/app/Log/view.html'")
div(ng-if="!isView")
	.row
		.col-md-7
			div(ng-include="'/admin/app/common/pagination.html'")
		.col-md-5
			select.form-control(style="margin-top:20px;",ng-options="item.Usuario.id as item.Usuario.username for item in Usuarios",name="usuario_id",ng-model="Pesquisa.usuario_id")
				option(value="") Todos
	.panel.panel-primary
		.panel-heading.clearfix
			h3.panel-title Logs
				span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
		.panel-footer.clearfix
			.btn-group.pull-right
				a.btn.btn-primary(ng-click="add()") Nova
		.panel-body(ng-if="loading")
			div(ng-include="'/admin/app/common/loading.html'")
		.panel-body(ng-if="norecords")
			div(ng-include="'/admin/app/common/norecords.html'")
		table.table(ng-if="!loading && !norecords")
			tr
				th.col-md-2 &nbsp;
				th Data
				th Usuário
				th Controller
				th Ação
			tr(ng-repeat="item in Logs")
				td
					.btn-group
						a.btn.btn-default(ng-click="view(item)",tooltip="Ver Log")
							i.fa.fa-2x.fa-eye
				td {{item.Log.data | date:'dd/MM/yy H:mm:ss'}}
				td {{item.Usuario.username}}
				td {{item.Log.controller}}
				td {{item.Log.action }}
